.page-header
  %h3
    = resource.class.model_name.human
    %small
    = link_to t('actions.back').html_safe, :back, class: 'btn btn-success'
    = link_to t('actions.edit').html_safe, edit_resource_path, class: 'btn'


.personality-detail
  %h3
    %p= resource.name
  - [:name, :code].each do |field|
    %p
      = resource.class.human_attribute_name(field)
      :
      = resource.send(field)