.provinces.clearfix
  %ul
    - Province.scoped.each do |province|
      %li= link_to province.short_name, articles_path(prov: province.name_abbr)

.sub-nav.clearfix
  %h5 热门搜索
  %ul

.articles-container
  %table.table
    - collection.each_slice(7) do |articles|
      %tr
        - articles.each do |resource|
          %td
            .image
              = image_tag resource.image.thumb, class: 'img-polaroid'
            .name
              = link_to resource.swap_name, article_path(resource)
            .detail
              %code= resource.article_level.name
              = resource.province.short_name

  = paginate collection