- unless current_user.blank?
  .navbar
    .navbar-inner
      = link_to t('title'), root_path, class: 'brand'
      %ul.nav.pull-left
        = sec_nav :basic do
          = link_to User.model_name.human, basic_member_users_path
        = sec_nav :details do
          = link_to UserDetail.model_name.human, details_member_users_path
        = sec_nav :interests do
          = link_to UserHobby.model_name.human, interests_member_users_path
        = sec_nav :education do
          = link_to UserEducational.model_name.human, education_member_users_path
        = sec_nav :career do
          = link_to UserWork.model_name.human, career_member_users_path
        = sec_nav :portrait do
          = link_to t('member.header.portrait'), portrait_member_users_path
        %li.divider-vertical
      %ul.nav.pull-right
        - if current_user.is_admin?
          %li= link_to '后台', admin_root_path
        %li= link_to t('actions.logout'), logout_path, method: :delete