- unless current_user.blank?
  .span3
    .nav.nav-list
      %li.nav-header= t('member.header.title')
      = sec_nav :basic do
        = link_to User.model_name.human, basic_member_users_path
      = sec_nav :details do
        = link_to UserDetail.model_name.human, details_member_users_path
      = sec_nav :interests do
        = link_to UserHobby.model_name.human, interests_member_users_path
      = sec_nav :education do
        = link_to UserEducational.model_name.human, education_member_users_path
      = sec_nav :career do
        = link_to UserWork.model_name.human, career_member_users_path
      = sec_nav :portrait do
        = link_to t('member.header.portrait'), portrait_member_users_path
      
      %li.nav-header= t('member.header.articles')
      = sec_nav :articles do
        = link_to Article.model_name.human, ""
        
      %li.nav-header= t('member.header.privacy')
      %li= link_to t('member.header.other'), '#'
      %li.divider
      %li= link_to t('member.header.help'), '#'