= simple_form_for resource, url: url, html: { class: 'form-horizontal' } do |f|
  %fieldset
    = region_select :city, :province
    = f.region_select :city
    = f.input :name, required: true
    = f.input :name_en, required: true
    = f.input :name_abbr, required: true
    
    = f.submit class: 'btn'