= simple_form_for resource, url: url, html: { class: 'form-horizontal' } do |f|
  
  .control-group
    %label
    .controls{style: 'color: red;'}= resource.errors.full_messages.join(',')
  = f.input :name, required: true
  = f.input :email, required: true

  - if resource.new_record?
    = f.input :password, required: true
    = f.input :password_confirmation, required: true

  .control-group
    %label
    .controls= f.submit class: 'btn'
  