.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to t('title'), root_path, class: 'brand'
      .nav-collapse.collapse
        %ul.nav.pull-right
          %li= link_to "发布新宝贝", new_article_path

          - if (user = current_user)
            %li= link_to user.name, member_root_path
            %li= link_to t('actions.logout'), logout_path, method: :delete
          - else
            %li= link_to t('actions.sign_in'), new_session_path
            %li= link_to t('actions.sign_up'), sign_up_path