.row
  = simple_nested_form_for @user, url: details_member_users_path, html: { method: :put } do |f|
    %fieldset
      = f.simple_fields_for :detail, (@user.detail || @detail) do |p|
        = p.input :marriage, collection: passport_options(DEFAULTS[:passport_marriage]), prompt: false
        = p.input :somatotype, collection: passport_options(DEFAULTS[:passport_figure]), prompt: false
        =# p.input :character, as: :check_boxes, collection: passport_options(DEFAULTS[:passport_character])
        = p.input :educational_level, collection: passport_options(DEFAULTS[:passport_education]), prompt: false
        .control-group
          = p.label :habit
          .controls
            = p.select :habit_sleep, options_for_select(passport_options(DEFAULTS[:passport_rest]))
            = p.select :habit_smoke, options_for_select(passport_options(DEFAULTS[:passport_smoke]))
            = p.select :habit_wine, options_for_select(passport_options(DEFAULTS[:passport_drink]))
        = p.input :profession, collection: passport_options(DEFAULTS[:passport_trade]), prompt: false
        = p.input :contact_information


    .control-group
      %label
      .controls= f.submit t('actions.save'), class: 'btn btn-primary'