.row
  %h3= UserEducational.model_name.human
  = simple_nested_form_for resource, url: education_member_users_path, html: { method: :put } do |f|
    %fieldset
      %table.table.table-striped
        %tr
          %td= UserEducational.human_attribute_name(:school_type)
          %td= UserEducational.human_attribute_name(:school_name)
          %td= UserEducational.human_attribute_name(:year_in)
          %td
        - resource.educationals.each do |educational|
          %tr
            %td= DEFAULTS[:educationals][educational.school_type][:name]
            %td= educational.school_name
            %td= educational.year_in.year
            %td= link_to t('actions.destroy'), 'javascript:void(0);', data: {value: educational.indexing, type: educational.school_type}, class: 'destroy'
        %tr
          = f.simple_fields_for :educationals, resource.educationals.build do |p|
            %td= p.select :school_type, passport_options(DEFAULTS[:educationals].reverse)
            %td= p.text_field :school_name
            %td= p.date_select :year_in, start_year: 1900, end_year: Date.today.year, order: [:year]
            %td= f.submit t('actions.save'), class: 'btn btn-primary'

    
