.row
  = simple_nested_form_for @user, url: interests_member_users_path, html: { method: :put } do |f|
    %fieldset
      = f.simple_fields_for :hobby, (@user.hobby || @hobby) do |p|
        = p.input :books, placeholder: 'Ruby,Java,Linux...'
        = p.input :brand, placeholder: 'Nike,AnTa...'
        = p.input :favorite_people, placeholder: 'Tom,Encore,Gimi Shao...'
        = p.input :hobby, placeholder: 'Sleep,Eat,Drink...'
        = p.input :movie, placeholder: 'Tom And Jerry,十面埋伏...'
        = p.input :music, placeholder: 'Hip Hop,轻音乐...'
        = p.input :sports, placeholder: '羽毛球,桌球,保龄球...'

    .control-group
      %label
      .controls= f.submit class: 'btn'

    
