.row
  = simple_form_for resource, url: portrait_member_users_path, html: { method: :put } do |f|
    - unless resource.avatar.blank?
      .control-group
        %label
        .controls
          = image_tag resource.avatar
          = image_tag resource.avatar.thumb

    = f.input :avatar, as: :file

    .control-group
      %label
      .controls= f.submit t('actions.save'), class: 'btn btn-primary'

    
