.row
  = simple_form_for @user, url: portrait_member_users_path, html: { method: :put } do |f|
    - unless @user.avatar.blank?
      .control-group
        %label
        .controls
          = image_tag @user.avatar
          = image_tag @user.avatar.thumb

    = f.input :avatar, as: :file


    .control-group
      %label
      .controls= f.submit class: 'btn'

    
