= main_nav :articles do
  = link_to Article.model_name.human, admin_articles_path
= main_nav :article_levels do
  = link_to ArticleLevel.model_name.human, admin_article_levels_path
= main_nav :provinces do
  = link_to Province.model_name.human, admin_provinces_path
= main_nav :cities do
  = link_to City.model_name.human, admin_cities_path
= main_nav :districts do
  = link_to District.model_name.human, admin_districts_path
= main_nav :users do
  = link_to User.model_name.human, admin_users_path
= main_nav :personalities do
  = link_to Personality.model_name.human, admin_personalities_path
= main_nav :categories do
  = link_to Category.model_name.human, admin_categories_path
= main_nav :contacts do
  = link_to Contact.model_name.human, admin_contacts_path